.edit-profile-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
  
  .edit-profile-container form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-profile-container label {
    margin-bottom: 5px;
  }
  
  .edit-profile-container input[type="text"],
  .edit-profile-container input[type="checkbox"] {
    margin-bottom: 15px;
  }
  
  .edit-profile-container button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  